@model IEnumerable<RentACar.RentACarWebService.Arac>
@{
    ViewBag.Title = "ListAllCar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    @{
        decimal endusuk = Model.First().Fiyat, enbuyuk = Model.First().Fiyat;
        int i = 0;
        string[] markalar = new string[Model.Count()];
        foreach (var item in Model)
        {
            if (item.Fiyat < endusuk)
            {
                endusuk = item.Fiyat;
            }

            if (item.Fiyat > enbuyuk)
            {
                enbuyuk = item.Fiyat;
            }
            foreach (var marka in markalar)
            {
                if (item.AracMarka != marka)
                {
                    markalar[i] = item.AracMarka;
                    i++;
                    break;
                }
            }
        }
    }
</head>

<body>

    <section id="page-title-area" class="section-padding overlay">
        <div class="container">
            <div class="row">
                <!-- Page Title Start -->
                <div class="col-lg-12">
                    <div class="section-title  text-center">
                        <h2>Araçlarımız</h2>
                        <span class="title-line"><i class="fa fa-car"></i></span>
                        <p>Bizi tercih ettiğiniz için teşekkürler...</p>
                    </div>
                </div>
                <!-- Page Title End -->
            </div>
        </div>
    </section>

    <section id="car-list-area" class="section-padding">
        <div class="container-fluid">
            <div class="row">
                <!--Filtreleme-->
                <div class="col-lg-3" style="margin-top:30px;">
                    <div class="login-page-content" style="margin-top:-30px;">
                        <div class="login-form" style="background-color:white;">
                            <form method="post" action="@Url.Action("CarFilter","Home")">
                                <div class="name" style="margin-top:-30px;">
                                    <h3 class="text-center" style="color:#FFA900">FİLTRELE</h3>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p class="text-left" style="margin-left:1px;margin-bottom:5px;color:#FFA900;">Araç Markası</p>
                                            <select name="marka" style="width:307px;height:40px;background-color:#F8F8F8;border-color:black;margin-bottom:5px;">
                                                <option selected>Seçiniz</option>
                                                @foreach (var item in markalar)
                                                {
                                                    <option>@item</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <p class="text-left" style="margin-left:15px;color:#FFA900;">Fiyat Aralığı</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input style="margin-left:2px; background-color:#F8F8F8;" type="text" name="min" value="@Convert.ToInt32(endusuk)" placeholder="min-TL" required/>
                                        </div>
                                        <div class="col-md-6">
                                            <input style="margin-left:-5px;background-color:#F8F8F8;" type="text" name="max" value="@Convert.ToInt32(enbuyuk)" placeholder="max-TL" required/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p class="text-left" style="margin-left:1px;margin-bottom:5px;color:#FFA900;">Araç Tipi</p>
                                            <select name="aracTipi" style="width:307px;height:40px;background-color:#F8F8F8;border-color:black;">
                                                <option selected>Seçiniz</option>
                                                <option>Sedan</option>
                                                <option>SUV</option>
                                                <option>Station</option>
                                                <option>Hatchback</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p class="text-left" style="margin-left:1px;margin-bottom:5px;color:#FFA900;">Araç Sınıfı</p>
                                            <select name="aracSinifi" style="width:307px;height:40px;background-color:#F8F8F8;border-color:black;">
                                                <option selected>Seçiniz</option>
                                                <option>Ekonomik</option>
                                                <option>Lüks</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p class="text-left" style="margin-left:1px;margin-bottom:5px;color:#FFA900;">Yakıt Türü</p>
                                            <select name="yakitTuru" style="width:307px;height:40px;background-color:#F8F8F8;border-color:black;">
                                                <option selected>Seçiniz</option>
                                                <option>Dizel</option>
                                                <option>Benzin</option>
                                                <option>Benzin&LPG</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p class="text-left" style="margin-left:5px;color:#FFD000;">Araç Yılı</p>
                                            <select name="aracYili" style="width:307px;height:40px;background-color:#F8F8F8;border-color:black;">
                                                <option selected>Seçiniz</option>
                                                <option>2000</option>
                                                <option>2001</option>
                                                <option>2002</option>
                                                <option>2003</option>
                                                <option>2004</option>
                                                <option>2005</option>
                                                <option>2006</option>
                                                <option>2007</option>
                                                <option>2008</option>
                                                <option>2009</option>
                                                <option>2010</option>
                                                <option>2011</option>
                                                <option>2012</option>
                                                <option>2013</option>
                                                <option>2014</option>
                                                <option>2015</option>
                                                <option>2016</option>
                                                <option>2017</option>
                                                <option>2018</option>
                                                <option>2019</option>
                                                <option>2020</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="log-btn col-md-12">
                                            <button style="background-color:#FFA900;" type="submit">Ara</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <hr />
                        <div class="input-group text-center" style="background-color:#9D9D9D;">
                            <input class="form-control" id="myInput" style="margin-bottom:-35px;margin-top:10px;" type="text" placeholder="Arama">
                        </div>
                    </div>
                </div>
                <!-- Car List Content Start -->
                <div class="col-lg-9">
                    <div class="container" id="hata">
                        @Html.ValidationSummary(true, "", new { @class = "border border-danger rounded h-50 p-1 pt-2 mb-2 mt-2 bg-danger text-white text-center" })
                    </div>
                    <div class="car-list-content">
                        <div class="row" id="carfilter">
                            <!-- Single Car Start -->
                            @foreach (var item in Model)
                            {
                                int fiyat = Convert.ToInt32(item.Fiyat);
                                <div class="col-lg-6 col-md-6">
                                    <div class="single-car-wrap">
                                        <div class="car-list-thumb" style="background-image:url(@Url.Content(item.Image))"></div>
                                        <div class="car-list-info without-bar">
                                            <h2><a href="#">@item.AracMarka @item.AracModel</a></h2>
                                            <h5>@fiyat TL Kiralama /Günlük</h5>
                                            <p>@item.Aciklama</p>
                                            <ul class="car-info-list">
                                                <li>@item.YakitTuru</li>
                                                <li>@item.AracSinifi</li>
                                                <li>@item.VitesTuru</li>
                                            </ul>
                                            <p class="rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star unmark"></i>
                                            </p>
                                            @Html.ActionLink("Detay", "Detail", "Car", new { aracID = @item.AracID }, new { @class = "rent-btn" })
                                        </div>
                                    </div>
                                </div>
                            }

                            <!-- Single Car End -->
                        </div>
                    </div>
                </div>
                <!-- Car List Content End -->
            </div>
        </div>
    </section>
    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#carfilter>div").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
</body>
