@model RentACar.RentACarWebService.Kullanici

@{
    ViewBag.Title = "AddCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    @if (ViewBag.message == "false")
    {
        <script>
            Swal.fire({
                position: 'top-end',
                icon: 'error',
                title: 'Sizinle bilgileri aynı olan bir müşterimiz bulunmaktadır',
                showConfirmButton: false,
                timer: 2000
            })
        </script>
        ViewBag.message = null;
    }
</head>

<body>
    <section id="page-title-area" class="section-padding overlay">
        <div class="container">
            <div class="row">
                <!-- Page Title Start -->
                <div class="col-lg-12">
                    <div class="section-title  text-center">
                        <h2>Kayıt</h2>
                        <span class="title-line"><i class="fa fa-car"></i></span>
                        <p>Bizi tercih ettiğiniz için teşekkürler...</p>
                    </div>
                </div>
                <!-- Page Title End -->
            </div>
        </div>
    </section>
    <!--== Page Title Area End ==-->
    <!--== Login Page Content Start ==-->
    <section id="lgoin-page-wrap" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-8 m-auto">
                    <div class="login-page-content">
                        <div class="login-form">
                            <h3>Kayıt Ol</h3>
                            <form method="post">
                                <div class="name">
                                    <div class="row">
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.Ad, new { htmlAttributes = new { @type = "text", @placeholder = "Adınız", @autocomplete = "off", required = "required", @pattern = "[a-zA-ZçÇğĞıİöÖşŞüÜ]+", title = "Sadece harf girebilirsiniz.", @maxlength = "20" } })
                                            @Html.ValidationMessageFor(model => model.Ad)
                                        </div>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.Soyad, new { htmlAttributes = new { @type = "text", @placeholder = "Soyadınız", @autocomplete = "off", required = "required", @pattern = "[a-zA-ZçÇğĞıİöÖşŞüÜ]+", title = "Sadece harf girebilirsiniz.", @maxlength = "20" } })
                                            @Html.ValidationMessageFor(model => model.Soyad)
                                        </div>
                                    </div>
                                </div>
                                <div class="username">
                                    @Html.EditorFor(model => model.TcNumarasi, new { htmlAttributes = new { @type = "text", @placeholder = "TC Numaranız", @autocomplete = "off", required = "required", @pattern = "[0-9]+", title = "Sadece sayı girilebilir.", @minlength = "11", @maxlength = "11" } })
                                    @Html.ValidationMessageFor(model => model.TcNumarasi)
                                </div>
                                <div class="username">
                                    @Html.EditorFor(model => model.Tel, new { htmlAttributes = new { @type = "text", @placeholder = "Telefon Numaranız", @autocomplete = "off", required = "required", @pattern = "[0-9]+", title = "Sadece sayı girilebilir.", @minlength = "11", @maxlength = "11" } })
                                    @Html.ValidationMessageFor(model => model.Tel)
                                </div>
                                <div class="username">
                                    <input type="text" name="adress" placeholder="Adresiniz ( Lütfen Tam Adres Belirtiniz )" autocomplete="off" pattern="[A-Za-zçÇğĞıİöÖşŞüÜ0-9.:,/]+" title="Lütfen sadece harf,sayi ve bu özel karakterleri( .,:/ ) kullanabilirsiniz." required>
                                </div>
                                <div class="username">
                                    @Html.EditorFor(model => model.Eposta, new { htmlAttributes = new { @type = "email", @placeholder = "Email", @autocomplete = "off", required = "required", @maxlength = "30" } })
                                    @Html.ValidationMessageFor(model => model.Eposta)
                                </div>
                                <div class="username">
                                    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @type = "text", @placeholder = "Username", @autocomplete = "off", required = "required", @minlength = "8", @maxlength = "20" } })
                                    @Html.ValidationMessageFor(model => model.Username)
                                </div>
                                <div class="password">
                                    @Html.EditorFor(model => model.Sifre, new { htmlAttributes = new { @type = "password", @placeholder = "Password", @autocomplete = "off", required = "required", @minlength = "8", @maxlength = "20" } })
                                    @Html.ValidationMessageFor(model => model.Sifre)
                                </div>
                                <div class="log-btn">
                                    <button type="submit"><i class="fa fa-check-square"></i> Kaydol</button>
                                </div>
                            </form>
                        </div>

                        <div class="container" id="hata">
                            @Html.ValidationSummary(true, "", new { @class = " border border-danger rounded h-50 p-1 pt-2 mb-2 mt-2 bg-danger text-white text-center" })
                        </div>

                        <div class="create-ac">
                            <p>Zaten bir hesabınız varsa? <a href="@Url.Action("Login","Login")">GİRİŞ YAP</a></p>
                        </div>
                        <div class="login-menu">
                            <a href="@Url.Action("About","About")">HAKKIMIZDA</a>
                            <span>|</span>
                            <a href="@Url.Action("Contact","Contact")">İLETİŞİM</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
